@import url(~@rmwc/data-table/data-table.css)
@import url(~@material/checkbox/dist/mdc.checkbox.css)
@import url(~@material/fab/dist/mdc.fab.css)

.tasks-page__zero
	border: 1px solid rgba(0, 0, 0, 0.12)
	font-weight: 300
	padding: 15px 30px
	font-size: 20px

.tasks-page__task-title
	width: 100%
	display: flex
	align-items: center
	justify-content: center
	margin: 15px 15px 40px
	font-family: 'Pacifico', cursive
	font-size: 60px
	text-transform: capitalize

.task-title__button
	margin-left: 30px