@import url(~@rmwc/data-table/data-table.css)
@import url(~@material/checkbox/dist/mdc.checkbox.css)
@import url(~@material/fab/dist/mdc.fab.css)

.task-title
	width: 100%
	margin: 30px
	display: flex
	align-items: center
	justify-content: space-around
	font-family: 'Pacifico', cursive
	font-size: 60px
	text-transform: capitalize
	button
		margin-top: 17px

.task-tables
	max-width: 800px
	border: 1px solid rgba(0, 0, 0, 0.12)
	border-collapse: collapse
	text-align: left
	thead, tbody
		tr
			display: table
			width: 100%
			table-layout: fixed
			border-bottom: 1px solid rgba(0, 0, 0, 0.12)
			th, td
				padding: 12px 15px
		.task-tables__title
			width: 400px	
	thead
		th
			color: darken(#fff, 50%)
			line-height: 12px
			font-size: 12px
			font-weight: 400
			&:last-child
				padding-right: 2rem
	tbody
		display: block
		height: 600px
		overflow: auto
	tr
		transition: all .25s
		&.yellow
			background-color: rgba(yellow, .15)
			border-color: rgba(black, .15)
		&.blue
			background-color: rgba(blue, .15)
			border-color: rgba(blue, .15)
		&.red
			background-color: rgba(red, .15)
			border-color: rgba(red, .15)
		&.success
			background-color: rgba(black, .13)
			border-color: rgba(black, .13)
		&:hover
			background-color: rgba(black, .1)
			border-color: rgba(black, .1)