@import url(~@rmwc/circular-progress/circular-progress.css)

.loader
	position: relative

.loader__circular
	margin: 0
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.loader_active
	pointer-events: none
	user-select: none