@import '~@material/typography/dist/mdc.typography.css'
@import '~@material/button/dist/mdc.button.css'

h1
	text-transform: uppercase

.initialpage
	margin-top: 10%
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.initialpage__bg
	height: 270px
	width: 300px
	display: block
	background-image: url(../../../other/img/logo.png)
	background-repeat: no-repeat