@import url(~@material/card/dist/mdc.card.css)
@import url(~@material/icon-button/dist/mdc.icon-button.css)

.card
	display: inline-block
	margin: 30px 30px 0 0

.card_personal
	width: 300px

.card__title, .card__body
	padding: 15px

.card__buttons
	display: block
	padding-top: 15px
	button
		left: -8px