@import 'normalize.css/normalize'
// material
@import '~@material/button/dist/mdc.button'
@import '~@material/typography/dist/mdc.typography'
@import '~@material/textfield/dist/mdc.textfield'

*
	box-sizing: border-box

*
	&:focus
		outline: none

body
	font-family: "Roboto", sans-serif
	font-size: 14px

.mdc-top-app-bar
	top: 0

.mdc-floating-label
	font-size: 14px

.container-fluid
	margin: 0 auto
	max-width: 1500px
	padding: 0 20px
	position: relative

.routes.container-fluid
	margin-top: 64px

.center-container
	min-height: calc(100vh - 64px)
	padding: 30px 0
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	
.errors-form
	height: 10px
	max-width: 400px
	margin-top: 10px
	color: red
	font-weight: 500
	font-size: 14px
