@import url(~normalize.css)
@import url(~@material/button/dist/mdc.button.css)
@import url(~@material/typography/dist/mdc.typography.css)
@import url(~@material/textfield/dist/mdc.textfield.css)

*
	box-sizing: border-box
	&:focus
		outline: none

body
	font-family: Roboto, sans-serif
	font-size: 14px

.mdc-top-app-bar
	top: 0

.mdc-floating-label
	font-size: 14px

.container-fluid
	margin: 0 auto
	max-width: 1300px
	padding: 0 15px
	position: relative

.routes.container-fluid
	justify-content: space-between
	margin-top: 64px
	padding: 30px 15px
	
.error
	max-width: 400px
	margin: 15px 0
	color: red
	font-weight: 500
	font-size: 14px

.flex-container
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	min-height: calc(100vh - 124px) //  padding .routes.container-fluid + height topnavigation
