@import '~@material/top-app-bar/dist/mdc.top-app-bar.css'
@import '~@material/menu/dist/mdc.menu.css'
@import '~@material/menu-surface/dist/mdc.menu-surface.css'
@import '~@material/list/dist/mdc.list.css'
@import '~@material/dialog/dist/mdc.dialog.css'

.mdc-top-app-bar__title	
	text-transform: uppercase

.mdc-top-app-bar__section
	.mdc-button:not(:disabled)
		color: #fff
		border-color: var(--mdc-theme-secondary)