@import url(~@material/card/dist/mdc.card.css)


.card
	margin: 15px 0
	display: flex
	.card__item
		&:last-child
			margin-right: 0

.card__item
	display: inline-block
	margin: 15px

.card__item_personal
	width: 300px

.card__item__title, .card__item__body
	padding: 15px

.card__item__buttons
	display: block
	padding-top: 15px
	button
		left: -8px