@import '~@material/textfield/dist/mdc.textfield.css'
@import '~@material/select/dist/mdc.select.css'
	
.headline-form
	color: #303030
	margin-bottom: 15px
	display: block

.mdc-text-field--with-trailing-icon .mdc-text-field__input
	padding: 20px 45px 6px 16px
	width: 214px

.inline-form
	width: 320px
	.mdc-text-field
		display: block
		margin-bottom: 30px
	.mdc-button
		display: block
		margin: 30px auto 0

.mdc-select
	width: 100%

.signup-form
	padding: 48px 40px 36px
	max-width: 600px
	border: 1px solid #dadce0
	border-radius: 8px
	.signup-form__button
		text-align: right
	.signup-form__item
		display: block
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
		.mdc-text-field
			&:nth-child(1)
				margin-right: 30px
