@import '~@material/textfield/dist/mdc.textfield.css'
	
.errors-form
	max-width: 400px
	margin: 15px 0
	color: red
	font-weight: 500
	font-size: 14px

.headline-form
	color: #303030
	margin-bottom: 15px
	display: block

.mdc-text-field--with-trailing-icon .mdc-text-field__input
	padding: 20px 45px 6px 16px
	width: 214px

.login-form
	min-width: 320px
	.mdc-text-field
		display: block
		margin-bottom: 20px
	.mdc-button
		display: block
		margin: 0 auto

.signup-form
	padding: 48px 40px 36px
	max-width: 600px
	border: 1px solid #dadce0
	border-radius: 8px
	.signup-form__button
		text-align: right
	.signup-form__item
		display: block
		margin-bottom: 30px
		&:last-child
			margin-bottom: 0
		.mdc-text-field
			&:nth-child(1)
				margin-right: 30px
