@import url(~@material/textfield/dist/mdc.textfield.css)
@import url(~@material/select/dist/mdc.select.css)
@import url(~@material/checkbox/dist/mdc.checkbox.css)


.form
	max-width: 600px

.form__single
	max-width: 600px
	padding: 48px 40px 36px
	border: 1px solid #dadce0
	border-radius: 8px

.form__heading
	color: #333333

.form__heading, .form__item
	margin-bottom: 30px
	display: block

.form__signup
	.form__item
		> .form__field
			margin-right: 15px

.form__item
	&:last-child
		margin-bottom: 0

.form__item_checkbox
	max-width: calc(214px * 2)
	.mdc-form-field
		display: flex
		align-items: center

.form__signup
	.form__field
		width: auto
	
.form__field
	width: 100%

.form__private__heading
	margin: 15px 0

.form__field_icon
	input
		width: 214px
		padding: 20px 45px 6px 16px

.form__buttons
	text-align: right

.form__textarea
	min-width: 320px

.form__select
	width: 100%
	
.form__password
	.form__field
		width: 300px

.mdc-text-field--fullwidth:not(.mdc-text-field--textarea) .mdc-text-field__input
	padding: 20px 16px 6px

.form__item__hr
	margin: 15px 0